/* #region Header */
header {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 0.625rem 2rem;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.icon {
    height: var(--icon-size);
    width: auto;
    pointer-events: none;
    user-select: none;
}

.title {
    color: white;
    user-select: none;
    font-family: "Odin Rounded", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

.menu {
    display: flex;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    user-select: none;
}

.menu li {
    text-align: center;
    list-style: none;
    width: 100%;
}

.menu-option {
    text-decoration: none;
    color: #f5cfd0;
    font-size: 0.875rem;
}

#menu-icon {
    color: white;
    display: none;
    cursor: pointer;
}

.closed {
    max-height: 0 !important;
    overflow: hidden;
    padding: unset !important;
}

@media only screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
        background-color: var(--pinky);
        width: 100%;
        position: absolute;
        left: 0;
        top: 4.625rem;
        padding: 1rem 0;
        overflow: hidden;
        max-height: 300px;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
        transition: max-height 0.5s ease, padding 0.5s linear;
    }

    #menu-icon {
        display: block;
    }

    .menu-option {
        display: block;
        width: 100%;
        padding: 0.75rem 0;
    }

    .menu-option:hover {
        background-color: var(--white);
    }
}

/* #endregion */

/* #region Inicio */
.inicio-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 2rem 1rem;
}

.gatito-cayendo img {
    height: 100%;
    width: 100%;
    max-height: 25rem;
}

.introduccion {
    max-width: 38rem;
    text-align: center;
    color: var(--white);
}

.introduccion h1 {
    text-transform: uppercase;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

/* #endregion */

/* #region Nosotros */
.nosotros-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 2rem 1rem;
}

.nosotros-item {
    max-width: 400px;
    min-width: 200px;
    text-align: center;
}

.nosotros-item-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--pinky);
}

.nosotros-item-description {
    font-weight: 400;
    font-size: 0.875;
    margin-bottom: 0.5rem;
    text-align: justify;
}

.nosotros-item-img {
    max-width: 80%;
    margin-top: 2rem;
}

/* #endregion */

/* #region Accion */
.acciones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 2rem 1rem;
}

.accion-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    flex-wrap: wrap;
}

.accion-item {
    border-radius: 0.5rem;
    background-color: var(--pinky-dark);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    transition: transform 0.4s ease-in-out;
}

.accion-item:hover {
    background-color: var(--white);
    color: var(--pinky);
    transform: scale(1.1);
}

.accion-item-img {
    height: 6.25rem;
    border-radius: 50%;
}

.accion-item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.accion-item-info-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.accion-item-info-description {
    font-weight: 200;
    font-size: 0.875rem;
    text-align: justify;
}

.img-accion-principal {
    max-width: 30%;
}

@media only screen and (max-width: 912px) {
    .accion-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: white;
        text-align: center;
    }

    .img-accion-principal {
        display: none;
    }
}

/* #endregion */

/* #region Metas */
.metas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 2rem 1rem;
}

.meta-items {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 500px;
    flex-wrap: wrap;
}

.space-odd .meta-item:nth-child(odd) {
    margin-left: 7rem;
}

.space-even .meta-item:nth-child(even) {
    margin-left: 7rem;
}

.meta-items-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--pinky);
}

.meta-item {
    max-width: 390px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--pinky);
}

.meta-item-img {
    max-width: 6.25rem;
    max-height: 6.25rem;
    border-radius: 50%;
}

.meta-item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.meta-item-info-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.meta-item-info-description {
    text-align: justify;
    font-weight: 200;
    font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
    .meta-item {
        margin: unset !important;
    }
    
    .meta-item-info-title {
        text-align: left !important;
    }
}

/* #endregion */

/* #region Casos */
.casos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 2rem 1rem;
}

.casos-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 3rem;
}

.caso-item {
    background: var(--white);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    max-width: 300px;
}

.caso-item-img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    border: 0.25rem solid var(--white);
}

.caso-item-name {
    font-size: 1.125rem;
    font-weight: bold;
    color: #34495e;
    margin-top: 0.625rem;
}

.caso-item-title {
    color: #7f8c8d;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
}

.caso-item-description {
    color: #7f8c8d;
    font-style: italic;
    margin: 1.25rem 0;
    font-weight: 200;
    text-align: justify;
}

/* #endregion */

/* #region Contactanos */
.contactanos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 3rem;
    padding: 2rem 1rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    background-color: var(--pinky);
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.375rem;
    color: var(--white);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #cccccc;
    border-radius: 0.375rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid var(--white);
}

.submit-button {
    background-color: var(--pinky-super-dark);
    color: var(--white);
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.4s ease;
}

.submit-button:hover {
    background-color: var(--pinky-ultra-dark);
}

/* #endregion */

/* #region Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.socials {
    display: flex;
    gap: 1rem;
    align-items: center;
    user-select: none;
}

.socials li {
    list-style: none;
}

.social {
    text-decoration: none;
}

.social-img {
    height: var(--icon-size);
    border-radius: 50%;
}

.copy {
    width: 100%;
    text-align: center;
    color: var(--white);
}

/* #endregion */